MODEL_SOLVER=cplex
CPLEX_BIN=C:\Program Files\IBM\ILOG\CPLEX_Studio221\cplex\bin\x64_win64\cplex.exe

MODEL_INCLUDE_TIME=1
ASSIGN_ROOMS=1
SINGLE_ROOM_PER_COURSE=1

DATOS_JSON=salidas/datos_modelo_20251.json
EXPORT_PREFIX=salidas/isc_20251

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=CHANGE_ME
DB_NAME=bdtec